<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UMSA Jeopardy Game - Answer</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Answer:</h1>
        <div class="center-content">
            <div class = "answer-text" id="answer-text">
                <p>{{answer}}</p>
                <p><img src="{{image}}">
                </p>
            </div>
        </div>
        <div class = "next-button">
            <button id="back-button">Back to Board</button>
        </div>
    </body>
</html>

<!-- Add your JavaScript code here -->
<script type='text/javascript'>
    // Get the value and category from the URL query parameters
    var urlParams = new URLSearchParams(window.location.search);
    var value = urlParams.get('value');
    var category = urlParams.get('category');

    // Display the answer text
    var answerText = document.getElementById('answer-text');    

    // Add an event listener to the back button
    var backButton = document.getElementById('back-button');
    backButton.addEventListener('click', function() {
        window.location.href = '/';
    });
</script>
