<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
            <title>UMSA Jeopardy Game</title>
            <link rel="stylesheet" href="../static/css/styles.css">
            <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        </head>

        <body>
            <button id="reset-button">Reset</button>
            <div class = "main-content">
                <h1>UMSA Jeopardy Game <img class="logo-img" src="../static/images/logo.jpeg" alt="UMSA Logo"></h1>
                <table>
                    <tr>
                        <th>Category 1</th>
                        <th>Category 2</th>
                        <th>Category 3</th>
                        <th>Category 4</th>
                        <th>Category 5</th>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="100">100</td>
                        <td class="c2question" data-value="100">100</td>
                        <td class="c3question" data-value="100">100</td>
                        <td class="c4question" data-value="100">100</td>
                        <td class="c5question" data-value="100">100</td>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="200">200</td>
                        <td class="c2question" data-value="200">200</td>
                        <td class="c3question" data-value="200">200</td>
                        <td class="c4question" data-value="200">200</td>
                        <td class="c5question" data-value="200">200</td>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="300">300</td>
                        <td class="c2question" data-value="300">300</td>
                        <td class="c3question" data-value="300">300</td>
                        <td class="c4question" data-value="300">300</td>
                        <td class="c5question" data-value="300">300</td>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="400">400</td>
                        <td class="c2question" data-value="400">400</td>
                        <td class="c3question" data-value="400">400</td>
                        <td class="c4question" data-value="400">400</td>
                        <td class="c5question" data-value="400">400</td>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="500">500</td>
                        <td class="c2question" data-value="500">500</td>
                        <td class="c3question" data-value="500">500</td>
                        <td class="c4question" data-value="500">500</td>
                        <td class="c5question" data-value="500">500</td>
                    </tr>
                </table>
            </div>
        </body>

    </html>

<script type='text/javascript'>
document.addEventListener('DOMContentLoaded', function() {
    // Get the clickedQuestions object from local storage
    var clickedQuestions = JSON.parse(localStorage.getItem('clickedQuestions')) || {};
    console.log(clickedQuestions);

    // Add event listeners to the question elements
    var questions = document.querySelectorAll('[class$="question"]');
    for (var i = 0; i < questions.length; i++) {
        // Check if the question has already been clicked
        var questionId = questions[i].getAttribute('data-value') + '-' + questions[i].className;
        console.log(questionId);
        console.log(clickedQuestions);
        if (questionId in clickedQuestions) {
            // Change the background color of the question element
            if (Math.floor(i / 5) % 2 == 0) {
                questions[i].style.backgroundColor = 'red';
                questions[i].style.color = 'white';
            } else {
                questions[i].style.backgroundColor = 'white';
                questions[i].style.color = 'black';
            }
            // Disable clicking on the question element
            questions[i].style.pointerEvents = 'none';
        }

        // Add a click event listener to the question
        questions[i].addEventListener('click', function() {
            // Check if the question has already been clicked
            if (this.classList.contains('clicked')) {
                return;
            }

            // Mark the question as clicked
            this.classList.add('clicked');

            // Save the clicked state of the question in local storage
            var value = this.getAttribute('data-value');
            var category = this.className.match(/c\d+/)[0];
            var questionId = value + '-' + category+ 'question';
            clickedQuestions[questionId] = true;
            localStorage.setItem('clickedQuestions', JSON.stringify(clickedQuestions));

            // Redirect the user to the question page
            window.location.href = '/question?value=' + value + '&category=' + category;
        });
    }

    // Add an event listener to the reset button
    var resetButton = document.getElementById('reset-button');
    resetButton.addEventListener('click', function() {
        // Clear the clickedQuestions object from local storage
        localStorage.removeItem('clickedQuestions');

        // Reload the page to reset the styles
        location.reload();
    });
});
</script>