<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
            <title>UMSA Jeopardy Game</title>
            <link rel="stylesheet" href="../static/css/styles.css">
            <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        </head>

        <body>
            <button id="reset-button">Reset</button>
            <div class = "main-content">
                <h1>UMSA Jeopardy Game <img class="logo-img" src="../static/images/logo.jpeg" alt="UMSA Logo"></h1>
                <table>
                    <tr>
                        <th>Location</th>
                        <th>Movies</th>
                        <th>Food</th>
                        <th>New Zealand</th>
                        <th>Misc</th>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="100">100</td>
                        <td class="c2question" data-value="100">100</td>
                        <td class="c3question" data-value="100">100</td>
                        <td class="c4question" data-value="100">100</td>
                        <td class="c5question" data-value="100">100</td>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="200">200</td>
                        <td class="c2question" data-value="200">200</td>
                        <td class="c3question" data-value="200">200</td>
                        <td class="c4question" data-value="200">200</td>
                        <td class="c5question" data-value="200">200</td>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="300">300</td>
                        <td class="c2question" data-value="300">300</td>
                        <td class="c3question" data-value="300">300</td>
                        <td class="c4question" data-value="300">300</td>
                        <td class="c5question" data-value="300">300</td>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="400">400</td>
                        <td class="c2question" data-value="400">400</td>
                        <td class="c3question" data-value="400">400</td>
                        <td class="c4question" data-value="400">400</td>
                        <td class="c5question" data-value="400">400</td>
                    </tr>
                    <tr>
                        <td class="c1question" data-value="500">500</td>
                        <td class="c2question" data-value="500">500</td>
                        <td class="c3question" data-value="500">500</td>
                        <td class="c4question" data-value="500">500</td>
                        <td class="c5question" data-value="500">500</td>
                    </tr>
                </table>
            </div>
        </body>

    </html>

    <script type='text/javascript'>
        document.addEventListener('DOMContentLoaded', function() {
            var clickedQuestions = JSON.parse(localStorage.getItem('clickedQuestions')) || {};
            var dailyDouble = JSON.parse(localStorage.getItem('dailyDouble'));
            var questions = document.querySelectorAll('[class$="question"]');

        if (!dailyDouble) {
            dailyDouble = questions[Math.floor(Math.random() * questions.length)];
            localStorage.setItem('dailyDouble', JSON.stringify({
                value: dailyDouble.getAttribute('data-value'),
                category: dailyDouble.className.match(/c\d+/)[0]+'question'
            }));
        } else {
            dailyDouble = document.querySelector('.' + dailyDouble.category + '[data-value="' + dailyDouble.value + '"]');


        }
;
            for (var i = 0; i < questions.length; i++) {
                var questionId = questions[i].getAttribute('data-value') + '-' + questions[i].className;
                if (questionId in clickedQuestions) {
                    if (Math.floor(i / 5) % 2 == 0) {
                        questions[i].style.backgroundColor = 'red';
                        questions[i].style.color = 'red';
                    } else {
                        questions[i].style.backgroundColor = 'white';
                        questions[i].style.color = 'white';
                    }
                    questions[i].style.pointerEvents = 'none';
                }

                questions[i].addEventListener('click', function() {
                    if (this.classList.contains('clicked')) {
                        return;

                    }

                    this.classList.add('clicked');

                    var value = this.getAttribute('data-value');
                    var category = this.className.match(/c\d+/)[0];
                    var questionId = value + '-' + category + 'question';
                    clickedQuestions[questionId] = true;
                    localStorage.setItem('clickedQuestions', JSON.stringify(clickedQuestions));

                    if (this.classList.contains('daily-double')) {
                        window.location.href = '/daily_double?value=' + value + '&category=' + category;
                    } else {
                        window.location.href = '/question?value=' + value + '&category=' + category;
                    }              
                });
                
                    var categoryCounts = localStorage.getItem('categoryCounts');
                    if (categoryCounts) {
                        categoryCounts = JSON.parse(categoryCounts);
                    } else {
                        categoryCounts = {
                            'c1question': 0,
                            'c2question': 0,
                            'c3question': 0,
                            'c4question': 0,
                            'c5question': 0
                        };
                    }

                    for (var questionId in clickedQuestions) {
                        var category = questionId.split('-')[1];
                        console.log(categoryCounts[category])
                        categoryCounts[category]++;
                        if (categoryCounts[category] == 5) {
                            console.log('All questions in the ' + category + ' column have been clicked');
                            validity = true;
                        }
                    }

                    var redirect = false;
                    var redirectCategory;
                    

                    for (var category in categoryCounts) {
                        if (categoryCounts[category] == 5 && validity == true) {
                            console.log('All questions in the ' + category + ' column have been clicked');
                            redirect = true;
                            redirectCategory = category.replace('question', ''); // This will remove 'question' from the category
                            categoryCounts = {
                                'c1question': 0,
                                'c2question': 0,
                                'c3question': 0,
                                'c4question': 0,
                                'c5question': 0
                            };
                            localStorage.setItem('categoryCounts', JSON.stringify(categoryCounts)); // Update local storage
                            break; // This will exit the loop as soon as a category with 5 clicked questions is found
                            validity = false;
                        }
                    }

                    if (redirect) {
                        console.log('Redirecting to ' + category + ' column')
                        console.log(categoryCounts)
                        categoryCounts[category] = 0;
                        console.log(clickedQuestions)
                        localStorage.setItem('categoryCounts', JSON.stringify(categoryCounts));
                        validity = true;
                        // window.location.replace('/column_filled?value=1000' + '&category=' + redirectCategory);
                }
}

        if (dailyDouble) {
            dailyDouble.classList.add('daily-double');
        } else {
            console.error('No element found for Daily Double');
        }

            var resetButton = document.getElementById('reset-button');
            resetButton.addEventListener('click', function() {
                localStorage.removeItem('clickedQuestions');
                localStorage.removeItem('dailyDouble');
                location.reload();
            });
        });
        </script>