body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: white;
}

.logo-img { 
    display:inline; 
    height: 80px;
    width: auto;
} 
h1 {
    text-align: center;
    font-family: 'VT323', sans-serif;
    width:auto;
    font-size: 72px;
    margin-top: auto;
    color: rgb(255, 0, 0);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 30px; /* increased from 8px */
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: blue;
    color: rgb(220, 220, 31);
}

table td {
    font-size: 40px;
    padding: 42px;
}

table td, table th {
    font-family: 'Press Start 2P', serif;
    transition: all 0.3s ease;
}

table td:hover {
    background-color: lightblue;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

table tr:nth-child(odd) td {
    background-color: lightblue;
}

table tr:nth-child(even) td {
    background-color: lightgreen;
}

table td.clicked {
    background-color: black !important;
    color: white !important;
}
